@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">@infoText</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    [Inject]
    ILocalStorageService localStorageService { get; set; }

    [Inject]
    NavigationManager navigationManager { get; set; }

    private string infoText = "Application About";

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationState;

        if (authState.User.Identity.IsAuthenticated)
        {
            infoText = await localStorageService.GetItemAsStringAsync("email");
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }
}